language: cpp

compiler: gcc

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libboost-iostreams-dev libboost-system-dev libboost-filesystem-dev libboost-program-options-dev libboost-test-dev
  - sudo ./before.sh

script: cmake . && make
