dist: trusty

language: cpp

sudo: required

compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6

install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi

before_script:
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 100 --slave /usr/bin/g++ g++ /usr/bin/g++-6
  - g++ -v
  - cmake --version
  - wget http://thetorch.tk/include.tar.bz2
  - wget http://thetorch.tk/lib.tar.bz2
  - sudo tar -xjf include.tar.bz2 -C /usr/local/include
  - sudo tar -xjf lib.tar.bz2 -C /usr/local/lib

script: cmake . && make
